node_modules/
.expo/
dist/
web-build/
coverage/

# Native
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
*.jks
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env.local
